@charset "UTF-8";
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c5bdbd; 
}
header {
    background-color: #000000; 
    color: #fff;
    text-align: center;
    padding: 1em;
}
section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.product2{
    margin-bottom: 20px;
    

}
.product2 a:hover {
    background-color: #ff3b3b;
}
.product2 a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff5c5c; 
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.product {
    margin-bottom: 20px;
   
}
.product a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff5c5c; 
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.product2 a:hover {
    background-color: #ff3b3b;
}
.highlight-text {
    color: #ff5c5c; 
    font-weight: bold;
}
